<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
    <link rel="stylesheet" type="text/css" href="../static/usersstyles.css">  
</head>
<body>
    <h1>All Users</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
        {% endfor %}
    </table>
    <script src="../static/script1.js"></script>
</body>
</html>
