<!DOCTYPE html>
<html>
<head>
    <title>Random Title</title>
    <link rel="stylesheet" type="text/css" href="../static/formstyles.css">  
</head>
<body>
    <h1>Fill the Form</h1>
    <form action="/data" method="POST">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname">
        <input type="submit" value="Submit"> <!-- Add a submit button to the form -->
    </form>
    <script src="../static/script1.js"></script>
</body>
</html>
