<!DOCTYPE html>
<html>
<head>
<title>
    Random Title
</title>
</head>
<body>
    <h1>some text to demo python usage</h1>

    <h2>Fruits</h2>
    <ul>
        {% for fruit in sendvar %}
         <li>{{fruit}}</li>
         {%endfor%}         
    </ul>

    <!-- <h2>if else demo</h2>

    <h3>is myfruit in the list?</h3> -->
    
   {% if myfruit in sendvar   %}
       {% if myfruit=="apple" %}
            <p>{{myfruit}}</p>
            {% endif %}
            {% endif %}
        
    {% if myfruit in sendvar %}
    <p>Yes, {{myfruit}} is present</p>

    {% else %}

    <p>Oops, {{myfruit}} is not in the list</p>

    {% endif %}


</body>
</html>